<ion-view>

    <ion-header-bar>

        <div class="buttons">
            <button class="button-icon" ng-click="baseCtrl.goBack()">
                <img src="img/mob_ico_arrow_left@1x.svg">
            </button>
        </div>

        <h1 class="title">Notifikationen</h1>

    </ion-header-bar>


    <ion-content class="mobi-form-padding">
        <input style="width: 100%; border: 1px solid black" ng-model="notificationsCtrl.devices">
        </input>

        <input style="width: 100%; border: 1px solid black" ng-model="notificationsCtrl.text">
        </input>

        <button class="button button-assertive" ng-click="notificationsCtrl.pushTestNotification()"
                ng-disabled="notificationsCtrl.notificationDisabled()">Push Notification
        </button>

        <ul>
            <li ng-repeat="notification in notificationsCtrl.notifications">{{notification.text}}</li>
        </ul>
    </ion-content>


</ion-view>